@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans|Roboto');

.main {
	font-family: 'Roboto';
	font-weight: 300;
	font-size: 16px;
	z-index: 2;
}

.hs{
	font-family: 'Alegreya Sans';
	font-weight: 500;
}

.page-nav {
	font-family: 'Alegreya Sans';
	font-size: 18pt;
	font-weight: 400;
	color: #1f1e1e;
}

#toggler {
	position: absolute;
	right: 13px;
	top: 13px;
}
