.page-title {
	margin-top: 20px;
	margin-bottom: 20px;
}

.arrow-up {
	width: 40px;
	height: 40px;
	border-radius: 50% 50% 50% 50%;
	cursor: pointer;
	z-index: 5;
}

.arrow-down {
	margin-top: 10px;
	width: 40px;
	height: 40px;
	border-radius: 50% 50% 50% 50%;
	cursor: pointer;
	z-index: 5;
}

.list-item {
	margin-bottom: 10px;
	height: 100px;
	border-radius: 5px 5px 5px 5px;
	cursor: pointer;
	z-index: 4;
}

.list-item:hover{
	background-color: red;
}

.rating-counter {
	height: 20px;
	border: none;
}

.rating-counter-wrap {
	padding: 0;
}

.versus-title {
	margin-top: 5px;
}

.versus-author {
	margin-top: 5px;
}

.versus-author-wrap {
	padding: 0;
}


.red {
	background-color: red;
}

.green {
	background-color: green;
}

.blue {
	background-color: blue;
}

