@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans|Roboto');

.main {
	background-color: #f2f2f2;
	font-family: 'Roboto';
	font-weight: 300;
	font-size: 16px;
	color: #1f1e1e;
}

.hs{
	font-family: 'Alegreya Sans';
	font-weight: 500;
}

.page-nav {
	font-family: 'Alegreya Sans';
	font-size: 18pt;
	font-weight: 400;
	color: #1f1e1e;
}

.count {
	position: absolute;
	width: 10px;
	left: 25px;
	top: 40%;
}

.list-item {
	margin-top: 10px;
	border: 1px solid #000000;
	height: 100px;
	border-radius: 10px 10px 10px 10px;
	background-color: #4a494d;
	color: #ffffff;
	font-weight: 100;
}

.arrow-up {
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50% 50% 50% 50%;
	margin-top: 5px;
	left: 70px;
	cursor: pointer;
}

.arrow-down {
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50% 50% 50% 50%;
	top: 50px;
	left: 70px;
	cursor: pointer;
}

.description {
	top: 5px;
	bottom: 5px;
	text-align: justify;
}

.author {
	top: 25%;
}

#desc{
	font-weight: 100;
}